<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
  <title>{{ page.title }} - Rota 18.313 Lectures</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="../default.css" rel="stylesheet">

  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>

  <script type="text/javascript" id="MathJax-script" async
   src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>

<body>

<div class="container">

<ol class="breadcrumb">
  <li><a href="..">Rota 18.313 Lectures</a></li>
  <li class="active">{{ page.title }}</li>
</ol>

<div class="page-header">
<h1>{{ page.title }}</h1>
</div>

<div class="row">

<div class="span12">
<p class="credits">
18.313 Lecture {{ page.lecture }}<br>
By Prof. Gian-Carlo Rota, {{ page.date }}<br>
Transcribed by {{ page.transcriber }}
</p>

{{ content }}
</div>

</div>


</body>
</html>
